// .gallery {
//   height: 175vh;
//   width: 90vw;
//   margin: auto;
//   overflow: hidden;
//   position: relative;
//   border-radius: 2%;
//   .galleryWrapper {
//     position: relative;
//     top: -12.5vh;
//     height: 200vh;
//     display: flex;
//     gap: 2vw;
//     padding: 2vw;
.column {
  height: 100%;
  width: 50%;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  white-space: nowrap;
  position: relative;
  // .imageContainer {
  //   position: absolute;
  //   height: 33%;
  //   width: 100%;
  //   position: relative;
  //   border-radius: 1vw;
  //   overflow: hidden;
  //   img {
  //     object-fit: cover;
  //   }
  // }
  &:nth-of-type(1) {
    top: -70%;
  }
  &:nth-of-type(2) {
    top: -90%;
  }
  &:nth-of-type(3) {
    top: -65%;
  }
  &:nth-of-type(4) {
    top: -80%;
  }
}
//   }
// }
.spacer {
  height: 50vh;
}
