.letter {
  /* font-size: 80px; */
  font-weight: 700;
  color: transparent;
  /* border: 1px solid white; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  position: relative;
  /* text-shadow: -1px 0 0 rgba(0, 0, 0, 0.2); */
}

.letter::before {
  content: attr(data-title);
  position: absolute;
  bottom: -0.15em;
  left: 0.05em;
  transform-origin: left;
  color: #fff;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: rotateY(25deg);
}

/* .letter:hover::before {
  transform: perspective(100px) rotate(-20deg);
} */
